.successContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 50%;
    height: 60%;

}

.imageContainer{
    width: 100%;
    max-width: 130;
    height: 145;
    background: linear-gradient(black, red);

    display: flex;
    align-items: center;
    justify-content: center;
}

.body{
    /* background: linear-gradient( black, rgb(65, 64, 64)); */
    background: linear-gradient( black, red);
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    padding: 0 0 0 1rem;
    overflow: auto;
    scrollbar-width: thin; /* "auto" or "thin" depending on browser support */
    scrollbar-color: #333333 #cccccc; 
    display: flex;
    align-items: center;
}